<label class="products-list">Products</label>
<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="products">
  <ul class="postsList">
    <li *ngFor="let product of products">
      <a class="post-name" routerLink="/product/{{product.id}}">
        <span>{{product.id}}</span> {{product.title}}
      </a>
    </li>
  </ul>
</div>
<div *ngIf="items.length > 0">
  <label>Items in Cart:</label>
  <ul class="cartList">
    <li *ngFor="let item of items">
      <span>{{item.id}}</span> {{item.title}} <span>{{item.count}}</span>
    </li>
  </ul>
  <button (click)="emptyCart()">Empty Cart</button>
</div>

