.post-body {
  font-size: x-large;
  text-align: center;
  color: firebrick;

}
.post-title{
  font-size: medium;

}
.commentsMain{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.goBack {
  width: 20vw;
  align-self: center;
  outline: #1976d2;
  border: solid 1px crimson;
  background-color: tomato;
  color: whitesmoke;
}

.post-details{
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.comment-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.comments {
  font-size: xx-large;
  margin-top: 7vh;


}

.comment-individual{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-name {
  font-size: small;
  font-weight: bold;

}
::first-letter{
  text-transform: capitalize;
}

.comment-body{
  font-size: medium;
  text-align: left;
  margin-bottom: 1vh;


}
